@import "../../../../global/base.scss";
$wrap: "sami-loader";

#{$wrap} {
  & .#{$wrap}.#{$wrap}___active {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--sami-white);
    z-index: 9999;
    font-weight: bold;
    font-size: 30vh;
    opacity: 0.8;
    color: var(--sami-screen);
    font-style: auto;
  }
  & span {
    display: inline-block;
  }
  & .#{$wrap} {
    display: none;
  }

  & .#{$wrap}.sami-loader___pulse {
    & sami-span span {
      animation: sami-pulse 0.4s alternate infinite ease-in-out;
    }
    & sami-span:nth-child(odd) span {
      animation-delay: 0.4s;
    }
  }

  @-webkit-keyframes sami-pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

  @keyframes sami-pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
}
