$wrap: "sami-grid";
#{$wrap} {
    display: contents;
    & div.#{$wrap} {
        background: transparent;
        display: grid;
        grid-column-gap: var(--sami-spacing-l);
        grid-row-gap:var(--sami-spacing-l);
        /*width: 100%;*/
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1490px) {
        & div.#{$wrap} {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 960px) {
        & div.#{$wrap} {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 769px) {
        & div.#{$wrap} {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 540px) {
        & div.#{$wrap} {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
