$wrap: "sami-dropdown";
#{$wrap} {
  & div.#{$wrap} {
    display: inline-block;
    & .#{$wrap}___header {
      & a {
      }
    }
    & div.#{$wrap}___border {
      display: block;
      border-top-style: solid;
      border-top-width: 2px;
      border-color: rgb(var(--sami-border));
    }
    & div.#{$wrap}___content {
      display: none;
      position: absolute;
      background-color: rgba(var(--sami-white), 3%);
      /*darken($sami-white, 3%);*/
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(var(--sami-dark), 0.2);
      z-index: 1;
      & a {
        color: rgb(var(--sami-dark));
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        height: 45px;
        line-height: 2.5;
      }
      & a:hover {
        /*background-color: #f1f1f1;*/
        background-color: rgba(var(--sami-white), 5%);
        /*darken($sami-white, 5%);*/
      }
    }
    & div.#{$wrap}___content:hover {
      display: block;
    }
  }
  & div.#{$wrap}:hover {
    & div.#{$wrap}___content {
      display: block;
    }
    & div.#{$wrap}___border {
      border-color: rgb(var(--sami-border));
    }

    /*
  background-color: red;**/
  }
}
