sami-dropdown {
  div.sami-dropdown {
    display: inline-block;
    & .sami-dropdown___header {
      & a {
      }
    }
    & div.sami-dropdown___border {
      display: block;
      border-top-style: solid;
      border-top-width: 2px;
      border-color: rgb(var(--sami-border));
    }
    & div.sami-dropdown___content {
      display: none;
      position: absolute;
      background-color:  rgba(var(--sami-white),3%);
      /*darken($sami-white, 3%);*/
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(var(--sami-dark), 0.2);
      z-index: 1;
      & a {
        color: rgb(var(--sami-dark));
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        height: 45px;
        line-height: 2.5;
      }
      & a:hover {
        /*background-color: #f1f1f1;*/
        background-color: rgba(var(--sami-white),5%);
        /*darken($sami-white, 5%);*/
      }
    }
    & div.sami-dropdown___content:hover {
      display: block;
    }
  }
  div.sami-dropdown:hover {
    & div.sami-dropdown___content {
      display: block;
    }
    & div.sami-dropdown___border {
      border-color: rgb(var(--sami-border));
    }

    /*
  background-color: red;**/
  }
}
