sami-header-mobile {
    display: none;
    @media (max-width: 770px) {
        display: block;
        /* and (min-height: 590px) */
        & div.sami-header-mobile {
            width: 100%;
            height: 50px;
            z-index: 0;
            display: block;
            background: $screen;

            box-shadow: 4px 9px 8px 0 rgb(0 0 0 / 20%);
            & a {
                padding-left: 80px;
            }
        }
    }
}
