@import "../../../../global/base.scss";

$wrap: "sami-header-mobile";
#{$wrap} {
    display: none;
    @media (max-width: 770px) {
        display: block;
        & .#{$wrap} {
            width: 100%;
            height: 45px;
            z-index: 1;
            display: block;
            background: var(--sami-screen);
            box-shadow: 4px 9px 8px 0px var(--sami-dark-200);
        }
    }
}
