$padding: 10px 10px 10px 35px;
$border-right-color: rgba(var(--sami-border), 100%);

sami-sidebar-dashboard {
  height: 100%;
  display: block;
  width: 320px;
  background-color: rgb(var(--sami-white));
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  z-index:-1;
  /* & ul.sami-sidebar-dashboard___ul.sami-sidebar-dashboard___main:hover {
    overflow-y: scroll;
  }*/

  & div.sami-sidebar-dashboard___border{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(var(--sami-dark), 0.5);
    height: 100%;
    position: fixed;
    top: 0;
    left: 320px;
  }

  & ul.sami-sidebar-dashboard___ul {

    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    & li.sami-sidebar-dashboard___section {
      & ul {
        & li {
          & a {
            padding: 10px 10px 10px 55px;
          }
        }
      }
    }
    & li {
      & a {
        font-size: 14px;
        text-decoration: none;
        color: rgb(var(--sami-dark));
        padding: $padding;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
      }

      & div {
        padding: 15px 35px 15px 35px;
        & span {
          color: rgba(var(--sami-dark), 0.5);
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: rgba(var(--sami-dark), 0.2);
          display: block;
          padding-bottom: 10px;
          font-size: 12px;
        }
      }
    }
    &
      li.sami-sidebar-dashboard___li:hover:not(.sami-sidebar-dashboard___section):not(.sami-sidebar-dashboard___active) {
      background-color: rgba(var(--sami-screen),5%);
      /*darken($sami-screen, 5%);*/
    }
    & li.sami-sidebar-dashboard___active {
      /*darken($sami-screen, 5%);*/
      background-color: rgba(var(--sami-screen),5%);
    }

    & li.sami-sidebar-dashboard___active,
    li.sami-sidebar-dashboard___li:hover:not(.sami-sidebar-dashboard___section):not(.sami-sidebar-dashboard___active) {
      border-right-style: solid;
      border-right-width: 4px;
      border-right-color: $border-right-color;
      & a {
        color: rgba(var(--sami-dark),80%);
      }
    }
  }
}
sami-sidebar-dashboard:hover {
}
