/**,
html,
body {
    height: 100vh;
    font-size: 18px;
    background: $sami-screen;
}*/
html {
  font-size: 10pt;
}
body {
  background: $sami-screen;
}
sami-main {
  & div.sami-main {
    height: 100vh;
    background: $sami-screen;
    margin-top: 0;
    width: calc(100% - 250px);
    float: right;
    margin-left: 0px;
  }
}
@media (max-width: 769px) {
  sami-main {
    & div.sami-main {
      width: calc(100%) !important;
    }
  }
}
