
$wrap: "sami-main";
#{$wrap} {
  & div.#{$wrap} {
    height: 100%;
    background: var(--sami-screen);
    margin-top: 0;
    width: calc(100% - 250px);
    float: right;
    margin-left: 0px;
  }
}
@media (max-width: 769px) {
  #{$wrap} {
    & div.#{$wrap} {
      width: calc(100%) !important;
      /*position: absolute;*/
      /*margin: auto;
      margin-right: 15px;
      margin-left: 15px;*/
    }
  }
}

/*html {
  font-size: 10pt;
}


$wrap: "sami-main";
#{$wrap} {
  height: 100%;
  background: rgb(var(--sami-screen));
  margin-top: 0;
  width: calc(100% - 250px);
  float: right;
  margin-left: 0px;
}
@media (max-width: 769px) {
  #{$wrap} {
    width: calc(100%) !important;
  }
}

*/