sami-flex-code-view {
    padding-bottom: 3rem;
    & div.sami-flex-code-view {
        & div[slot="flex-code-view"] {
            max-width: 520px;
            display: flex;
            height: 320px;
            flex-direction: row;
            & div.slick-list {
                max-width: 520px;
                height: 320px;
                & div.slick-track {
                    max-width: 520px;
                    display: flex;
                    height: 320px;
                }
            }
        }
        @media (max-width: 874px) {
            & div[slot="flex-code-view"] {
                flex-direction: column;
            }
        }
    }

    @media (max-width: 550px) {
        & div.sami-flex-code-view.carousel {
            & div[slot="flex-code-view"] {
                width: 360px;
            }
        }
    }
    @media (max-width: 385px) {
        & div.sami-flex-code-view.carousel {
            & div[slot="flex-code-view"] {
                width: 310px;
            }
        }
    }
    /* & div.sami-flex-code-view.carousel {
        & div.sami-flex-code-view {
            max-width: 520px;
            display: flex;
            height: 320px;
        }
    }*/
    /*& div.slick-track{
        display: flex;
    }*/
}

@media (max-width: 874px) {
    sami-flex-code-view {
        padding-bottom: 5rem;
    }
}
