$wrap: "sami-flex-code-view";
#{$wrap} {
    padding-bottom: 3rem;
    & div.#{$wrap} {
        & div[slot="flex-code-view"] {
            max-width: 520px;
            display: flex;
            height: 320px;
            flex-direction: row;
            & div.slick-list {
                max-width: 520px;
                height: 320px;
                & div.slick-track {
                    max-width: 520px;
                    display: flex;
                    height: 320px;
                }
            }
        }
        @media (max-width: 874px) {
            & div[slot="flex-code-view"] {
                flex-direction: column;
            }
        }
    }

    @media (max-width: 550px) {
        & div.#{$wrap}.carousel {
            & div[slot="flex-code-view"] {
                width: 100%;
            }
        }
        & div.#{$wrap}.carousel {
            & .slick-slider {
                height: 100%;
            }
        }
    }
    /* @media (max-width: 385px) {
        & div.#{$wrap}.carousel {
            & div[slot="flex-code-view"] {
                width: 310px;
            }
        }
    }*/
    /* & div.#{$wrap}.carousel {
        & div.#{$wrap} {
            max-width: 520px;
            display: flex;
            height: 320px;
        }
    }*/
    /*& div.slick-track{
        display: flex;
    }*/
}

@media (max-width: 874px) {
    #{$wrap} {
        padding-bottom: 5rem;
    }
}

@media (max-width: 550px) {
    #{$wrap} {
        width: 100%;
    }
    #{$wrap}:not(.carousel) {
        & sami-card-code {
            & div.sami-card-code:not(.active) {
                width: 100%;
            }
        }
    }
}
