sami-card-tag {
  & div {
    background: $white-900;
    color: $dark;
    position: absolute;
    bottom: 0px;
    width: 40px;
    height: 25px;
    text-align: center;
    line-height: 2;
    font-weight: bolder;
    right: 0px;
    border-radius: 15px 0px 0px 0px;
    transition: filter 200ms linear, transform 200ms linear;
    z-index: 2;
    -webkit-transition: filter 200ms linear, transform 200ms linear;
    -moz-transition: filter 200ms linear, transform 200ms linear;
    -ms-transition: filter 200ms linear, transform 200ms linear;
    -o-transition: filter 200ms linear, transform 200ms linear;
    -webkit-border-radius: 15px 0px 0px 0px;
    -moz-border-radius: 15px 0px 0px 0px;
    -ms-border-radius: 15px 0px 0px 0px;
    -o-border-radius: 15px 0px 0px 0px;
}
}
