@import url("../../../../global/base.scss");

$box-shadow: 0 4px 8px 0 var(--sami-dark-200), 0 6px 20px 0 var(--sami-dark-200);
$width: 320px;
$wrap: "sami-subscriber";

#{$wrap} {
    & .#{$wrap}{
        & .#{$wrap}___body {
            overflow: hidden;
            height: 100%;
            top: 0;
            z-index: 3;
            box-shadow: 0 4px 8px 0 var(--sami-dark-200), 0 6px 20px 0 var(--sami-dark-200);
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 315px;
            & sami-hyperlink[part="close"] {
                position: absolute;
                top: 0;
                left: 0;
            }
            & div[part="body"] {
                width: 250px;
                & sami-paragraph:nth-child(1) p {
                    font-size: 3rem;
                    font-weight: 700;
                    text-align: left;
                    line-height: 1.2;
                    margin-bottom: 30px;
                }
                & sami-paragraph:nth-child(2) p {
                    line-height: 1.8;
                    margin: 0px;
                    text-align: center;

                    font-weight: 100;
                    font-size: 1rem;
                }
            }
        }
        & .#{$wrap}___body:nth-child(1) {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 30px;
            text-align: left;
            line-height: 1.2;
        }
        & .#{$wrap}___body input {
            margin-top: 20px;
        }
    }
    & .#{$wrap}:not(.#{$wrap}___active) {
        & .#{$wrap}___body {
            right: -315px;
            transition: all 1s;
        }
        & .#{$wrap}___backdrop {
            display: none;
        }
    }
    & .#{$wrap}.#{$wrap}___active {
        & .#{$wrap}___backdrop {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #00000042;
            left: 0;
            top: 0;
            z-index: 2;
        }
        & .#{$wrap}___body {
            transition: all 1s;
            right: 0;
            
        }
        
    }
}

:is(#{$wrap} .#{$wrap} .#{$wrap}___body, #{$wrap} sami-paragraph, #{$wrap} sami-paragraph p, #{$wrap}
        sami-form, #{$wrap} form) {
    background: var(--sami-white);
}