$wrap: "sami-flex-code";
#{$wrap} {
    /*& div.slick-track{
        display: flex;
    }*/
    & div.#{$wrap} {
        & div[slot="flex-code"] {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            justify-items: center;
        }

        @media (max-width: 1485px) {
            & div[slot="flex-code"] {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
