@import "../../../../global/base.scss";
$wrap: "sami-card-image";

:is(#{$wrap}, #{$wrap} a, #{$wrap} sami-img .#{$wrap}___background, #{$wrap} sami-img .#{$wrap}___background img) {
  height: 100%;
  width: 100%;
}
:is(#{$wrap} a.#{$wrap}, #{$wrap} sami-span, #{$wrap} div.#{$wrap}___content, sami-img .#{$wrap}___background) {
  position: absolute;
}

:is(#{$wrap} sami-img .#{$wrap}___background, #{$wrap} div.#{$wrap}___content) {
  top: 0;
  left: 0;
}
/*, #{$wrap} sami-span span*/
:is(#{$wrap} sami-span) {
  background: var(--sami-white-900);
  color: var(--sami-dark);
}

:is(#{$wrap} div.sami-card-image___content, #{$wrap} p) {
  background: transparent;
}

#{$wrap} {
  position: relative;
  display: block;
  margin: auto;
  & a.#{$wrap} {
    & sami-img .#{$wrap}___background {
      filter: brightness(0.75) saturate(1.2) contrast(0.85);
      border-radius: 10%;
      max-width: fit-content;
    }
    & div.#{$wrap}___content {
      padding: var(--sami-spacing-l);
      & p {
        margin: 0px 0px 15px 0px;
      }
      & sami-paragraph .#{$wrap}___content-subtitle {
        color: var(--sami-white-500);
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      & sami-paragraph .#{$wrap}___content-title {
        color: var(--sami-white-900);
        font-size: 1.5rem;
        /*text-shadow: 2px 2px 20px var(--sami-dark);*/
      }
    }
    & sami-span {
      bottom: 0px;
      width: 40px;
      height: 25px;
      font-weight: bolder;
      right: 0px;
      border-radius: 15px 0px 0px 0px;
      transition: filter 200ms linear, transform 200ms linear;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
#{$wrap} a.#{$wrap}:before {
  content: "";
  display: block;
  padding-bottom: 100%;
  width: 100%;
}
#{$wrap}:hover sami-span {
  transform: translate(7px, 7px);
}
/*
::slotted(*:hover) {
  transform: translate(7px, 7px);
}*/
