$wrap: "sami-tab";
#{$wrap} {
    & .#{$wrap} {
        overflow: hidden;
        /*border: 1px solid #ccc;
        background-color: #f1f1f1;*/

        /* Style the buttons inside the tab */
        & div[slot="sami-tab___header"]{
            & ul {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                & li {
                    list-style: none;
                    & a {
                        background-color: inherit;
                        float: left;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 14px 16px;
                        transition: 0.3s;
                        font-size: 17px;
                        text-decoration: none;
                        color: black;
                    }
                    & a:hover {
                        background-color: #ddd;
                    }
                }
                & li.#{$wrap}___active {
                    background-color: #ddd;
                }
            }
        }
       
        & div[slot="sami-___body"]{
            display: none;
        }
        & div[slot="sami-___body"].#{$wrap}___active {
            display: block;
        }
    }
}
