@import "../../../global/base.scss";
$wrap: "sami-form";

#{$wrap} {
}
/*
 --sami-tag-background: #{$sami-white-900};
  --sami-tag-color: #{$sami-dark};
  --sami-tag-position: absolute;
  --sami-tag-right: 0px;
  --sami-tag-bottom: 0px;
  --sami-tag-width: 40px;
  --sami-tag-height: 25px;
  --sami-tag-text-align: center;
  --sami-tag-font-weight: bolder;
  --sami-tag-border-radius: 15px 0px 0px 0px;
  --sami-tag-transition: filter 200ms linear, transform 200ms linear;
  --sami-tag-z-index: 1;

*/
